.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 6px rgba(206, 192, 192, 0.5);
}
.navbar-home-plans-and-pricing a {
  padding: 10px;
  font-size: 15px;
}
.plans-pricing {
  font-weight: bold;
}
.navbar-buttons {
  padding: 10px;
}
.filled-button {
  margin: 10px;
  width: 100px;
  height: 30px;
  border: 3px solid #1e4d8e;
  border-radius: 5px;
  background-color: #1e4d8e;
  color: white;
}
.outline-button {
  margin: 10px;
  width: 100px;
  height: 30px;
  color: #1e4d8e;
  background-color: #ffffff;
  border: 3px solid #1e4d8e;
  border-radius: 5px;
}
